@keyframes to-right {
  0% {
    opacity: 0;
    transform: translateX(-20%);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes to-left {
  0% {
    opacity: 0;
    transform: translateX(20%);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.heading--primary {
  font-weight: 700;
  line-height: 1.2;
  font-size: 5.2rem;
  animation: to-right 1s ease-out;
  letter-spacing: -0.5px;
}
@media (max-width: 37.5em) {
  .heading--primary {
    font-size: 3.6rem;
  }
}
.heading--secondary {
  font-weight: 600;
  font-size: 4.4rem;
  line-height: 1.1;
  letter-spacing: 1px;
}
@media (max-width: 56.25em) {
  .heading--secondary {
    font-size: 3.6rem;
  }
}
.heading--secondary span {
  color: #f3bb36;
}
.heading--small {
  font-weight: 600;
  font-size: 1.6rem;
  letter-spacing: 1.2px;
  line-height: 1.02;
}
.heading--tertiary {
  font-size: 2.4rem;
}

.paragraph {
  font-size: 2rem;
  line-height: 1.6;
}
.paragraph--small {
  font-size: 1.2rem;
  line-height: 1.4;
}
.paragraph--secondary {
  font-size: 1.6rem;
  line-height: 1.5;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.mb-sm {
  margin-bottom: 0.8rem;
}

.mb-md {
  margin-bottom: 1.6rem;
}

.mb-lg {
  margin-bottom: 3.2rem;
}

.mb-xl {
  margin-bottom: 5.6rem;
}

.mt-sm {
  margin-top: 0.8rem;
}

.mt-md {
  margin-top: 1.6rem;
}

.mt-lg {
  margin-top: 3.2rem;
}

.mt-xl {
  margin-top: 5.6rem;
}

.title-padding {
  padding: 0 3.2rem;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media (max-width: 37.5em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #212529;
}

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  color: inherit;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}
.btn--primary {
  padding: 1rem 3rem;
  border-radius: 10px;
  border: 4px solid #aa8326 !important;
  transition: all 0.3s;
}
.btn--primary:hover, .btn--primary:active {
  background-image: linear-gradient(to right, #aa8326, #f3bb36);
}
.btn--secondary {
  padding: 1rem 5rem;
  background-color: #f3bb36 !important;
  color: #212529;
  border-radius: 3px;
  position: relative;
}
.btn--secondary span {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  padding-top: 1.2rem;
  font-size: 2.4rem;
  height: 100%;
  width: 3rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 0;
  visibility: hidden;
  transform: translateY(50%);
  transition: all 0.2s;
}
.btn--secondary:hover span, .btn--secondary:active span {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.btn--card {
  border: none;
  background: none;
  cursor: pointer;
}

.details__title {
  font-size: 8rem;
  font-weight: 700;
  display: inline-block;
  color: #767676;
}
@media (max-width: 56.25em) {
  .details__title {
    font-size: 5.6rem;
  }
}
.details__description {
  font-size: 1.6rem;
  font-weight: 600;
  padding-top: 1.6rem;
  border-top: 1px solid #f3bb36;
  text-align: center;
}

.image-composition {
  position: relative;
}
.image-composition__photo {
  width: 55%;
  display: block;
  position: absolute;
  top: 10rem;
  border-radius: 3px;
  z-index: 1;
  transition: all 0.2s;
}
@media (max-width: 56.25em) {
  .image-composition__photo {
    top: 0;
  }
}
.image-composition__photo--1 {
  left: 0;
}
.image-composition__photo--2 {
  left: 50%;
}
.image-composition__photo--3 {
  left: 25%;
}
.image-composition__photo:hover {
  transform: scale(1.05);
  z-index: 2;
  box-shadow: 0 2.5rem 4rem rgba(33, 37, 41, 0.3);
}
.image-composition:hover .image-composition__photo:not(:hover) {
  transform: scale(0.95);
}

.benefit {
  border: 2px solid #aa8326;
  padding: 2.4rem;
  border-radius: 2px;
}
.benefit__icon {
  font-size: 3rem;
  color: rgba(33, 37, 41, 0.8);
}
.benefit:hover {
  box-shadow: 0 0 2.4rem rgba(33, 37, 41, 0.1);
}

.card {
  height: 50rem;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
}
.card__side {
  height: 50rem;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.8s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 7px;
  box-shadow: 0 0 3.2rem rgba(33, 37, 41, 0.1);
}
.card__side--back {
  transform: rotateY(180deg);
  background-color: #f3bb36;
}
.card:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0);
}
.card__front-container {
  padding: 0 2.4rem;
}
.card__price {
  font-size: 2.4rem;
  color: #e03131;
  font-style: italic;
}
.card__photo {
  height: 20rem;
  width: 100%;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.card__details-list {
  list-style: none;
  width: 70%;
  margin: 0 auto;
  padding: 5.6rem 0;
}
.card__details-item {
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.2;
}
.card__details-item:not(:last-child) {
  margin-bottom: 2.4rem;
  padding-bottom: 1.2rem;
  border-bottom: 1px solid #aa8326;
}
@media (max-width: 56.25em) {
  .card {
    height: auto;
    box-shadow: 0 0 3.2rem rgba(33, 37, 41, 0.1);
  }
  .card__side {
    position: relative;
    height: auto;
    box-shadow: none;
  }
  .card__side--back {
    transform: rotateY(0);
    background: none;
    padding: 2.4rem 0;
  }
  .card:hover .card__side--front {
    transform: rotateY(0);
  }
  .card__details-list {
    padding: 2.4rem 0;
  }
  .card__details-item {
    font-size: 1.2rem;
  }
}

.testimonial__shape {
  width: 12rem;
  height: 12rem;
  float: left;
  border-radius: 50%;
  transform: translateX(-1.5rem);
}
@supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
  .testimonial__shape {
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    border-radius: none;
  }
}
.testimonial__shape:hover .testimonial__image {
  transform: scale(1.1);
}
.testimonial__image {
  height: 100%;
  object-fit: cover;
}
.testimonial__details {
  padding: 1.6rem 0;
}
.testimonial__username {
  font-size: 1.4rem;
  font-weight: 500;
}

.contact-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 3.2rem rgba(33, 37, 41, 0.1);
  border-radius: 3px;
}
@media (max-width: 56.25em) {
  .contact-box {
    width: 85%;
  }
}

.form {
  padding: 1.6rem;
}
.form__group:not(:last-child) {
  margin-bottom: 2rem;
}
.form__input {
  font-family: inherit;
  color: inherit;
  width: 100%;
  background: none;
  border: none;
  border-bottom: 1px solid #212529;
  padding: 1rem 0;
  transition: all 0.2s;
}
.form__input::-webkit-input-placeholder {
  color: #777;
}
.form__input:focus {
  outline: none;
  border-bottom: 1px solid green;
}
.form__input:focus:invalid {
  border-bottom: 1px solid red;
}
.form__label {
  display: block;
  margin-top: 0.4rem;
  font-size: 1.6rem;
  opacity: 1;
  visibility: visible;
  transition: all 0.2s;
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
}
.form__radio-input {
  display: none;
}
.form__radio-group {
  width: 49%;
}
.form__radio-label {
  font-size: 2rem;
  position: relative;
  padding-left: 4rem;
}
.form__radio-button {
  display: inline-block;
  width: 3.2rem;
  height: 3.2rem;
  border: 3px solid #f3bb36;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: -4px;
}
.form__radio-button::after {
  content: "";
  width: 1.6rem;
  height: 1.6rem;
  background-color: #f3bb36;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.2s;
}
.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1;
}

.header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 75em) {
  .header-content {
    width: 75%;
    padding: 0 3.2rem;
  }
}
@media (max-width: 56.25em) {
  .header-content {
    width: 90%;
    padding: 0 3.2rem;
  }
}
.header-content span {
  color: #aa8326;
}
.header-content__description {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  animation: to-left 1s ease-out;
}
.header-content .text-center {
  animation: to-right 1s ease-out;
}

.header-logo {
  position: absolute;
  top: 2.4rem;
  left: 3.2rem;
}
.header-logo__image {
  height: 6.4rem;
}
@media (max-width: 56.25em) {
  .header-logo__image {
    height: 4.8rem;
  }
}

.float-grid {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}
.float-grid:not(:last-child) {
  margin-bottom: 9.6rem;
}
.float-grid::after {
  content: "";
  display: table;
  clear: both;
}
@media (max-width: 56.25em) {
  .float-grid {
    max-width: 50rem;
  }
}
.float-grid [class^=col-] {
  float: left;
}
.float-grid [class^=col-]:not(:last-child) {
  margin-right: 5.6rem;
}
@media (max-width: 56.25em) {
  .float-grid [class^=col-]:not(:last-child) {
    margin-right: 0;
    margin-bottom: 5.6rem;
  }
}
@media (max-width: 56.25em) {
  .float-grid [class^=col-] {
    width: 100% !important;
  }
}
.float-grid .col-1-of-2 {
  width: calc((100% - 5.6rem) / 2);
}
@media (max-width: 56.25em) {
  .float-grid .col-1-of-2 {
    max-width: 80rem !important;
  }
}
.float-grid .col-1-of-3 {
  width: calc((100% - 2 * 5.6rem) / 3);
}
.float-grid .col-1-of-4 {
  width: calc((100% - 3 * 5.6rem) / 4);
}
@media (max-width: 75em) {
  .float-grid .col-1-of-4 {
    width: calc((100% - 2 * 5.6rem) / 2);
  }
}
@media (max-width: 75em) {
  .float-grid .col-1-of-4:nth-child(1), .float-grid .col-1-of-4:nth-child(2) {
    margin-bottom: 5.6rem;
  }
}
.float-grid .col-3-of-4 {
  width: calc((100% - 3 * 5.6rem) / 4 * 3);
}

@media (max-width: 56.25em) {
  .footer {
    text-align: center;
  }
}
.footer__list {
  list-style: none;
}
.footer__link, .footer__link:link, .footer__link:visited {
  text-decoration: none;
  display: block;
  color: inherit;
  font-size: 1.6rem;
  color: #767676;
}
.footer__link:hover, .footer__link:active {
  color: #212529;
}
.footer__link:not(:last-child) {
  margin-bottom: 1.6rem;
}
.footer__bottom-border {
  margin-bottom: 1.6rem !important;
  padding-bottom: 1.6rem;
  border-bottom: 1px solid #f3bb36;
}
.footer__logo-image {
  height: 3.2rem;
}
.footer__copyright {
  text-align: right;
  font-size: 1.6rem;
  margin-top: 4px;
}
@media (max-width: 56.25em) {
  .footer__copyright {
    text-align: center;
    margin-top: -4rem;
  }
}

.navigation__checkbox {
  display: none;
}
.navigation__background {
  position: fixed;
  top: 2.6rem;
  right: 3.4rem;
  width: 6rem;
  height: 6rem;
  background-image: radial-gradient(#f3bb36, #aa8326);
  border-radius: 50%;
  z-index: 998;
  transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
}
.navigation__button {
  position: fixed;
  top: 2.4rem;
  right: 3.2rem;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  background-color: #fff;
  z-index: 1000;
  cursor: pointer;
  box-shadow: 0 0 4.8rem rgba(33, 37, 41, 0.1);
}
.navigation__nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 30rem;
  height: 100vh;
  background-color: rgba(243, 187, 54, 0.1);
  box-shadow: 0 0 2.4rem rgba(33, 37, 41, 0.1);
  z-index: 999;
  transform: translateX(-100%);
  transition: all 0.8s 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.navigation__checkbox:checked ~ .navigation__nav {
  transform: translateX(0);
}
.navigation__list {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translate(70%, -50%);
  list-style: none;
}
.navigation__item:not(:last-child) {
  margin-bottom: 3.2rem;
}
.navigation__link:link, .navigation__link:visited {
  font-size: 2.4rem;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
  background-image: linear-gradient(120deg, transparent 0, transparent 50%, #aa8326 50%);
  display: inline-block;
  padding: 0.4rem 0.8rem;
  background-size: 220%;
  transition: all 0.4s;
}
.navigation__link:link:hover, .navigation__link:link:active, .navigation__link:visited:hover, .navigation__link:visited:active {
  background-position: 100%;
  color: #fff;
}
.navigation__icon {
  position: relative;
  margin-top: 3.2rem;
  margin-left: 1.8rem;
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  background-color: #212529;
  width: 3.2rem;
  height: 3px;
  display: inline-block;
  transition: all 0.3s;
}
.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
}
.navigation__icon::before {
  top: -0.8rem;
}
.navigation__icon::after {
  top: 0.8rem;
}
.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}
.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(45deg);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-45deg);
}

.header {
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(243, 187, 54, 0.7), rgba(248, 214, 134, 0.7)), url(../assets/hero-small.jpg);
  background-size: cover;
  background-position: bottom;
  position: relative;
  color: #212529;
}
@media only screen and (min-resolution: 192dpi) and (min-width: 37.5em), only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), only screen and (min-width: 125em) {
  .header {
    background-image: linear-gradient(to right bottom, rgba(243, 187, 54, 0.7), rgba(248, 214, 134, 0.7)), url(../assets/hero.jpg);
  }
}

.about {
  padding: 9.6rem 0;
}
@media (max-width: 56.25em) {
  .about {
    margin-bottom: 20rem;
  }
}

.benefits-container {
  background-color: #f8d686;
  padding: 12.8rem 0;
}

.products {
  padding: 9.6rem 0;
}

.testimonials {
  padding: 9.6rem 0;
}

.contact {
  height: 80vh;
  position: relative;
  background-image: url(../assets/contact.jpg);
  background-size: cover;
}

.contact-container {
  padding: 9.6rem 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@supports (-webkit-backdrop-filter: blur(5px)) or (backdrop-filter: blur(5px)) {
  .contact-container {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
  }
}

.footer {
  padding: 9.6rem 0;
}

/*# sourceMappingURL=style.comp.css.map */
