.benefit{
    border: 2px solid $primary-color-dark;
    padding:2.4rem;
    border-radius: 2px;

    &__icon{
        font-size: 3rem;
        color: rgba($dark-color, 0.8);
    }

    &:hover{
        box-shadow: 0 0 2.4rem rgba($dark-color, 0.1);
    }
}