.btn{
    &,
    &:link,
    &:visited{
    text-decoration: none;
    color:inherit;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}

&--primary{
    padding:1rem 3rem;
    border-radius: 10px;
    border: 4px solid $primary-color-dark !important;
    transition: all .3s;

    &:hover,&:active{
        background-image: linear-gradient(to right,$primary-color-dark,$primary-color);
    }
}

&--secondary{
    padding:1rem 5rem;
    background-color: $primary-color !important;
    color:$dark-color;
    border-radius: 3px;
    position: relative;

    span{
        position: absolute;
        top:0;
        right:0;
        display: block;
        padding-top: 1.2rem;
        font-size: 2.4rem;
        height: 100%;
        width:3rem;
        text-align: center;
        background-color: rgba($white-color, 0.2);

        opacity: 0;
        visibility: hidden;
        transform: translateY(50%);
        transition: all .2s;
    }

    &:hover span,&:active span{
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

}

&--card{
    border: none;
    background:none;
    cursor: pointer;
}

}