.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}

.mb-sm{
    margin-bottom: .8rem;
}

.mb-md{
    margin-bottom: 1.6rem;
}

.mb-lg{
    margin-bottom: 3.2rem;
}

.mb-xl{
    margin-bottom: 5.6rem;
}

.mt-sm{
    margin-top: .8rem;
}

.mt-md{
    margin-top: 1.6rem;
}

.mt-lg{
    margin-top: 3.2rem;
}

.mt-xl{
    margin-top: 5.6rem;
}

.title-padding{
    padding:0 3.2rem;
}