.navigation{
    &__checkbox{
        display: none;
    }

    &__background{
        position: fixed;
        top:2.6rem;
        right:3.4rem;
        width:6rem;
        height:6rem;
        background-image: radial-gradient($primary-color,$primary-color-dark);
        border-radius: 50%;
        z-index: 998;
        transition: all .8s cubic-bezier(0.86, 0, 0.07, 1);

    }

    &__checkbox:checked ~ &__background{
        transform: scale(80);
    }

    &__button{
        position: fixed;
        top:2.4rem;
        right:3.2rem;
        width:7rem;
        height: 7rem;
        border-radius: 50%;
        background-color: $white-color;
        z-index: 1000;
        cursor: pointer;
        box-shadow: 0 0 4.8rem rgba($dark-color, 0.1);

    }

    &__nav{
        position: fixed;
        top:0;
        left: 0;
        width:30rem;
        height: 100vh;
        background-color: rgba($primary-color,0.1);
        box-shadow: 0 0 2.4rem rgba($dark-color, 0.1);
        z-index: 999;

        transform: translateX(-100%);
        transition: all .8s .2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    &__checkbox:checked ~ &__nav{
        transform: translateX(0);
    }

    &__list{
        position: fixed;
        top:50%;
        left:0;
        transform: translate(70%,-50%);
        list-style: none;
    }

    &__item:not(:last-child){
        margin-bottom: 3.2rem;
    }

    &__link{
        &:link,&:visited{
            font-size: 2.4rem;
            text-transform: uppercase;
            color:inherit;
            text-decoration: none;
            background-image: linear-gradient(120deg,transparent 0,transparent 50%,$primary-color-dark 50%);
            display: inline-block;
            padding:.4rem .8rem;
            background-size: 220%;
            transition: all .4s;

            &:hover,&:active{
                background-position: 100%;
                color:$white-color;
            }
        }
    }

    &__icon{
        position: relative;
        margin-top:3.2rem;
        margin-left: 1.8rem;


        &,&::before,&::after{
            background-color: $dark-color;
            width:3.2rem;
            height:3px;
            display: inline-block;
            transition: all .3s;

        }

        &::before,&::after{
            content: "";
            position: absolute;
            left:0;
        }

        &::before{
            top:-.8rem
        }

        &::after{
            top:.8rem;
        }

    }

    &__button:hover &__icon::before{
        top:-1rem;
    }

    &__button:hover &__icon::after{
        top:1rem;
    }

    &__checkbox:checked + &__button &__icon{
        background-color: transparent;
    }

    &__checkbox:checked + &__button &__icon::before{
        top:0;
        transform: rotate(45deg);
    }

    &__checkbox:checked + &__button &__icon::after{
        top:0;
        transform: rotate(-45deg);
    }


}