$primary-color:#f3bb36;
$primary-color-light:#f8d686;
$primary-color-dark:#aa8326;

$light-grey:#767676;
$dark-grey:#777;

$dark-color:#212529;
$dark-color-2:#495057;

$white-color:#fff;

$container-width:120rem;
$gutter-row:9.6rem;
$gutter-col:5.6rem;
